# Unreal Engine — не коммитить
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Visual Studio / Rider / IDE
.vs/
.idea/
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.code-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Локальные секреты / ключи (на будущее)
.env
*.pem
*.key
